# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

**/appsettings.Local.json


# Ignore JetBrains Rider IDE settings
.idea/

# Ignore macOS system files
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code directories and files
.vscode/

# Rider directories and files
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Resharper
_ReSharper/
*.ReSharper
*.DotSettings.user

# ASP.NET 5
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.assets.json

# Azure Web Apps
.localhistory/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini

# IIS Express
/.vs/
iisexpress/

# Environment variables
.env
